@primary-color: #1d71b8;
@primary-dark-color: #105391;
@primary-darker-color: #06376b;
@border-radius-base: 5px;

@form-item-label-colon-margin-left: 1px;

@layout-header-background: #fff;
@layout-sider-background: @primary-color;
@layout-trigger-background: @primary-darker-color;

@menu-dark-bg: @layout-sider-background;
@menu-dark-item-active-bg: @primary-dark-color;
@menu-item-group-title-color: rgba(255, 255, 255, 0.4);

@page-header-padding: 2.5rem;
@page-header-padding-vertical: 1.5rem;

@descriptions-title-margin-bottom: 10px;
