.signin-container {
  display: flex;
  overflow: auto;
  height: 100vh;
  padding: var(--horizontal-inset);
  background-color: var(--background-color);
}

.signin-form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 840px;
  margin: auto;
  padding: 2rem;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: var(--container-box-shadow);
}

.signin-form-wrapper.tight {
  width: 360px;
}

@media only screen and (min-width: 576px) {
  .signin-form-wrapper.tight {
    transform: translateY(-1rem);
  }
}

@media only screen and (max-width: 575.98px) {
  .signin-container .signin-form-wrapper,
  .signin-container .signin-form-wrapper .signin-form {
    width: 100%;
  }
}

.signin-form-wrapper > a {
  place-self: start;
}

.signin-form-back-button {
  padding-left: 0 !important;
}

.tight .signin-form {
  width: 285px;
}

.signin-logo {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.signin-form-forgot {
  float: right;
}

.ant-col-rtl .signin-form-forgot {
  float: left;
}

.signin-form .ant-input-affix-wrapper > input.ant-input {
  padding-left: .3rem;
}

.signin-form-button {
  width: 100%;
}

.signin-form .ant-form-item-explain {
  margin-bottom: .5rem;
}

.signin-form .ant-alert {
  margin-top: 1rem;
}

.signin-footer-actions {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  text-align: right;
}
