.signin-container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
}

.signin-form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  margin: auto;
  padding: 2rem;
  transform: translateY(-15%);
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: var(--container-box-shadow);
}

@media only screen and (max-width: 575.98px) {
  .signin-form-wrapper {
    transform: translateY(-1rem);
  }
}

.signin-form-wrapper > a {
  place-self: start;
}

.signin-form-back-button {
  padding-left: 0 !important;
}

.signin-form {
  width: 285px;
}

.signin-logo {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.signin-form-forgot {
  float: right;
}

.ant-col-rtl .signin-form-forgot {
  float: left;
}

.signin-form .ant-input-affix-wrapper > input.ant-input {
  padding-left: .3rem;
}

.signin-form-button {
  width: 100%;
}
