.title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title-wrapper h1 {
  font-weight: 300;
  margin: 0 0 3rem 0 !important;
}

.title-wrapper h3 {
  font-weight: 400;
}

.site-layout .secondary-title {
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #777;
  font-size: medium;
}

@media only screen and (max-width: 425px) {
  .title-wrapper h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 375px) {
  .title-wrapper h1 {
    font-size: 24px;
    font-weight: normal;
  }

  .title-wrapper h3 {
    font-size: 18px;
    font-weight: normal;
  }
}
