:root {
  --background-color: #f0f2f5;
  --primary-color: #1d71b8;

  --horizontal-inset: 15%;
  --border-radius: 5px;
  --container-box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
  --transition-cubic-all: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  --max-width-xs: 575.98px;
  --min-width-xs: 576px;
  --max-width-sm: 767.98px;
  --min-width-sm: 768px;
  --max-width-md: 991.98px;
  --min-width-md: 992px;
  --max-width-lg: 1199.98px;
  --min-width-lg: 1200px;
}

@media screen {
  @page {
    margin: 0;
    size: 1280px 850px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  :root {
    --horizontal-inset: 3rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  :root {
    --horizontal-inset: 2rem;
  }
}

@media only screen and (max-width: 575.98px) {
  :root {
    --horizontal-inset: 0.5rem;
  }
}

.main-page-header .ant-page-header-heading-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.site-layout h1.ant-typography,
.site-layout .ant-typography h1,
.site-layout h2.ant-typography,
.site-layout .ant-typography h2 {
  font-weight: 300;
}

.site-layout h3.ant-typography,
.site-layout .ant-typography h3,
.site-layout h4.ant-typography,
.site-layout .ant-typography h4 {
  font-weight: 400;
}

.site-layout .ant-page-header {
  z-index: 1;
}

.site-layout .ant-list:not(.no-hover) .ant-list-item {
  padding-right: 1rem;
  padding-left: 1rem;
  transition: var(--transition-cubic-all);
  color: var(--background-color);
}

.site-layout .ant-list:not(.no-hover) .ant-list-item:hover {
  background-color: rgba(0, 0, 0, 0.041);
}

.site-layout .ant-list .ant-col {
  height: 100%;
}

.site-layout .action-text {
  margin-bottom: 0 !important;
}

.site-layout .action-text > .ant-typography-copy {
  transition: var(--transition-cubic-all);
  transition-property: opacity;
  opacity: 0;
}

.site-layout .action-text:hover > .ant-typography-copy {
  opacity: 1;
}

.site-layout .ant-list-item-action > li {
  cursor: auto;
}

.ant-list-item a {
  display: contents;
}
