:root {
    --background-color: #f4f5f4;
    --primary-color: #1d71b8;
    --max-width-xs: 575.98px;
    --min-width-xs: 576px;
    --max-width-sm: 767.98px;
    --min-width-sm: 768px;
    --max-width-md: 991.98px;
    --min-width-md: 992px;
    --max-width-lg: 1199.98px;
    --min-width-lg: 1200px;
}

.ant-pagination-item {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
