.setting-card .ant-alert {
    margin-bottom: 1rem;
}

.setting-card .setting-card-title {
    display: flex;
    align-items: center;
}

.setting-card-title .sub-header {
    flex: 1;
}

.setting-card .ant-typography:last-child {
    margin-bottom: 0;
}
