.calendar-tag {
  overflow: hidden;
  /*min-width: 100%;*/
  max-width: calc(100% - 0.3rem) !important;
  margin: 0 0.2rem !important;
  padding: 0 4px !important;
  transition-duration: 200ms;
  text-overflow: ellipsis;
  border-color: transparent !important;
  background-color: transparent !important;
}

.calendar-tag:hover {
  background-color: #bbbbbb82 !important;
}

.calendar-tag-time {
  margin-right: 0.2rem;
}

.calendar-tag-title {
  font-weight: bold;
  overflow: hidden;
  width: 70%;
  vertical-align: bottom;
}
