.socis-table .socis-table-username-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socis-table .socis-table-avatar {
  flex-shrink: 0;
}

.socis-table .socis-table-username-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 1rem;
}

.socis-table .socis-table-username-text {
  margin-bottom: 0;
}
