.heat-map-section {
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #eee;
}

.heat-map-section:not(.disabled):hover {
  cursor: pointer;
  background-color: #ccc;
}
