.layout-projecte,
.layout-projecte .ant-layout,
.layout-projecte-sider {
  height: 100%;
}

.layout-projecte-sider {
  background-color: rgba(255, 255, 255, 0.7);
}

.layout-projecte-sider .ant-menu {
  padding-top: 1rem;
  background-color: transparent;
  height: 100%;
}
