.header-title .anticon {
    font-size: 4rem;
    color: var(--primary-color);
}

.header-title .header-title-text {
    margin-bottom: 0;
}

.header-title .header-title-subtitle {
    font-size: 1.2rem;
    font-weight: normal;
}

@media only screen and (max-width: 575.98px) {
    .header-title .anticon {
        font-size: 3rem;
    }

    .header-title .header-title-text {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .header-title .header-title-subtitle {
        display: none;
    }
}
