.content-header {
    background-color: #fff !important;
}

.ant-tabs-bar {
    z-index: 5;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #eee !important;
    background-color: #fff;
}

.ant-tabs-nav-container {
    margin-left: 10rem !important;
}
