/*
.app-layout-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0;
    transition-duration: 200ms;
    background-color: white !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}
 */

.app-layout-content {
    padding: 3rem 10rem;
    transition-duration: 200ms;
    background-color: #fafafa;
}
