.color-card.ant-card {
  line-height: 1.3;
  display: flex;
  align-items: flex-start;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  background-image: url(../../assets/svg/fons-projectes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
}

.color-card-title {
  font-size: larger;
  line-height: 1.2;
  color: #fff;
}

.color-card-description {
  font-size: small;
  color: rgba(255, 255, 255, 0.8);
}

.color-card-title + .color-card-description {
  margin-top: 0.3rem;
}
