.main-container {
    position: relative;
}

.main-container-padding {
    padding: 3rem var(--horizontal-inset);
}

.main-container-padding-reduced {
    padding: calc(var(--horizontal-inset) * .2);
}

.main-container-background {
    background-color: var(--background-color);
}

@media only screen and (max-width: 575.98px) {
    .main-container-padding-reduced {
        padding: calc(var(--horizontal-inset) * .5);
    }
}
