.content-list .content-list-item {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #f0f0f0 !important;
}

.content-list .content-list-item:last-child {
  border-bottom: none !important;
}

.content-list .content-list-item:hover {
  background-color: rgba(0, 0, 0, 0.041);
}

.content-list-extra {
  align-self: center;
  padding-right: .2rem;
  text-align: right;
}

.content-list .ant-list-item-meta {
  align-items: center;
}

.content-list .ant-list-item-meta-title {
  line-height: 18px;
  margin-bottom: 0;
}

.content-list .ant-list-item-meta-title + .ant-list-item-meta-description {
  margin-top: 0.2rem;
}

.content-list .ant-list-item-meta-description {
  font-size: small;
  line-height: 14px;
}
